body {
    background: url('backiee-302167.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#clock {
    font-size: 35px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    padding: 30px 50px;
    text-align: center;
}
